#Require Python 3.7 in order to use annotation library

# FOR INSTALLATION USE:
# pip install -c conda-forge -r requirements.txt python=3.7
# OR TO CREATE A CONDA ENVIRONNEMENT:
# conda create -c conda-forge --name artemis_gpu_env --file requirements.txt python=3.7
ipywidgets
numpy
scipy
#tensorflow<2.0
pillow<7.0.0
psutil
matplotlib>=3.4
jupyter
pandas
scikit-learn
pytorch-gpu==1.10.2 # To allow run on a gpu, version is required to force a cudatoolkit's version >= 11.6
torchvision
seaborn==0.11.1
tqdm
joblib
pympler
#guppy3 # to profile memory
